.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{width:44.970240px;}
._b{width:122.202680px;}
._e{width:242.527480px;}
._4{width:434.962680px;}
._f{width:441.478480px;}
._0{width:477.395120px;}
._1{width:590.530240px;}
._c{width:647.042680px;}
._2{width:788.083600px;}
._3{width:1085.695120px;}
._5{width:1219.730240px;}
._a{width:1461.055320px;}
._9{width:1517.912160px;}
._8{width:1660.006320px;}
._6{width:1668.859240px;}
._7{width:1704.430720px;}
.fc2{color:rgb(0,0,0);}
.fc1{color:rgb(0,51,102);}
.fc0{color:rgb(51,51,51);}
.fs2{font-size:31.960000px;}
.fs3{font-size:42.000000px;}
.fs1{font-size:48.000000px;}
.fs0{font-size:72.000000px;}
.yc{bottom:11.730000px;}
.yb{bottom:30.110000px;}
.y0{bottom:48.000000px;}
.y1{bottom:48.040000px;}
.ya{bottom:48.110000px;}
.y9{bottom:72.630000px;}
.y1b{bottom:89.320000px;}
.y8{bottom:99.030000px;}
.y1a{bottom:107.700000px;}
.y19{bottom:125.700000px;}
.y7{bottom:138.450000px;}
.y18{bottom:151.120000px;}
.y17{bottom:305.770000px;}
.y16{bottom:315.370000px;}
.y15{bottom:324.970000px;}
.y14{bottom:334.570000px;}
.y13{bottom:352.570000px;}
.y12{bottom:377.100000px;}
.y6{bottom:391.840000px;}
.y11{bottom:411.300000px;}
.y10{bottom:429.670000px;}
.yf{bottom:439.270000px;}
.ye{bottom:457.650000px;}
.y5{bottom:589.610000px;}
.y4{bottom:607.610000px;}
.y3{bottom:633.040000px;}
.y2{bottom:676.840000px;}
.yd{bottom:683.960000px;}
.h6{height:33.224043px;}
.h5{height:33.739023px;}
.h7{height:44.337891px;}
.h4{height:50.671875px;}
.h3{height:74.847656px;}
.h2{height:695.960000px;}
.h1{height:696.000000px;}
.h0{height:792.000000px;}
.w2{width:516.000000px;}
.w1{width:516.500000px;}
.w0{width:612.000000px;}
.x4{left:0.000000px;}
.x1{left:1.500000px;}
.x3{left:4.390000px;}
.x2{left:5.630000px;}
.x0{left:48.000000px;}
.x5{left:479.780000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{width:59.960320pt;}
._b{width:162.936907pt;}
._e{width:323.369973pt;}
._4{width:579.950240pt;}
._f{width:588.637973pt;}
._0{width:636.526827pt;}
._1{width:787.373653pt;}
._c{width:862.723573pt;}
._2{width:1050.778133pt;}
._3{width:1447.593493pt;}
._5{width:1626.306987pt;}
._a{width:1948.073760pt;}
._9{width:2023.882880pt;}
._8{width:2213.341760pt;}
._6{width:2225.145653pt;}
._7{width:2272.574293pt;}
.fs2{font-size:42.613333pt;}
.fs3{font-size:56.000000pt;}
.fs1{font-size:64.000000pt;}
.fs0{font-size:96.000000pt;}
.yc{bottom:15.640000pt;}
.yb{bottom:40.146667pt;}
.y0{bottom:64.000000pt;}
.y1{bottom:64.053333pt;}
.ya{bottom:64.146667pt;}
.y9{bottom:96.840000pt;}
.y1b{bottom:119.093333pt;}
.y8{bottom:132.040000pt;}
.y1a{bottom:143.600000pt;}
.y19{bottom:167.600000pt;}
.y7{bottom:184.600000pt;}
.y18{bottom:201.493333pt;}
.y17{bottom:407.693333pt;}
.y16{bottom:420.493333pt;}
.y15{bottom:433.293333pt;}
.y14{bottom:446.093333pt;}
.y13{bottom:470.093333pt;}
.y12{bottom:502.800000pt;}
.y6{bottom:522.453333pt;}
.y11{bottom:548.400000pt;}
.y10{bottom:572.893333pt;}
.yf{bottom:585.693333pt;}
.ye{bottom:610.200000pt;}
.y5{bottom:786.146667pt;}
.y4{bottom:810.146667pt;}
.y3{bottom:844.053333pt;}
.y2{bottom:902.453333pt;}
.yd{bottom:911.946667pt;}
.h6{height:44.298724pt;}
.h5{height:44.985365pt;}
.h7{height:59.117188pt;}
.h4{height:67.562500pt;}
.h3{height:99.796875pt;}
.h2{height:927.946667pt;}
.h1{height:928.000000pt;}
.h0{height:1056.000000pt;}
.w2{width:688.000000pt;}
.w1{width:688.666667pt;}
.w0{width:816.000000pt;}
.x4{left:0.000000pt;}
.x1{left:2.000000pt;}
.x3{left:5.853333pt;}
.x2{left:7.506667pt;}
.x0{left:64.000000pt;}
.x5{left:639.706667pt;}
}
